2023/Day3/node_modules/.package-lock.json
2023/Day3/node_modules/@types/node/assert.d.ts
2023/Day3/node_modules/@types/node/async_hooks.d.ts
2023/Day3/node_modules/@types/node/buffer.d.ts
2023/Day3/node_modules/@types/node/child_process.d.ts
2023/Day3/node_modules/@types/node/cluster.d.ts
2023/Day3/node_modules/@types/node/console.d.ts
2023/Day3/node_modules/@types/node/constants.d.ts
2023/Day3/node_modules/@types/node/crypto.d.ts
2023/Day3/node_modules/@types/node/dgram.d.ts
2023/Day3/node_modules/@types/node/diagnostics_channel.d.ts
2023/Day3/node_modules/@types/node/dns.d.ts
2023/Day3/node_modules/@types/node/dom-events.d.ts
2023/Day3/node_modules/@types/node/domain.d.ts
2023/Day3/node_modules/@types/node/events.d.ts
2023/Day3/node_modules/@types/node/fs.d.ts
2023/Day3/node_modules/@types/node/globals.d.ts
2023/Day3/node_modules/@types/node/globals.global.d.ts
2023/Day3/node_modules/@types/node/http.d.ts
2023/Day3/node_modules/@types/node/http2.d.ts
2023/Day3/node_modules/@types/node/https.d.ts
2023/Day3/node_modules/@types/node/index.d.ts
2023/Day3/node_modules/@types/node/inspector.d.ts
2023/Day3/node_modules/@types/node/LICENSE
2023/Day3/node_modules/@types/node/module.d.ts
2023/Day3/node_modules/@types/node/net.d.ts
2023/Day3/node_modules/@types/node/os.d.ts
2023/Day3/node_modules/@types/node/package.json
2023/Day3/node_modules/@types/node/path.d.ts
2023/Day3/node_modules/@types/node/perf_hooks.d.ts
2023/Day3/node_modules/@types/node/process.d.ts
2023/Day3/node_modules/@types/node/punycode.d.ts
2023/Day3/node_modules/@types/node/querystring.d.ts
2023/Day3/node_modules/@types/node/readline.d.ts
2023/Day3/node_modules/@types/node/README.md
2023/Day3/node_modules/@types/node/repl.d.ts
2023/Day3/node_modules/@types/node/stream.d.ts
2023/Day3/node_modules/@types/node/string_decoder.d.ts
2023/Day3/node_modules/@types/node/test.d.ts
2023/Day3/node_modules/@types/node/timers.d.ts
2023/Day3/node_modules/@types/node/tls.d.ts
2023/Day3/node_modules/@types/node/trace_events.d.ts
2023/Day3/node_modules/@types/node/tty.d.ts
2023/Day3/node_modules/@types/node/url.d.ts
2023/Day3/node_modules/@types/node/util.d.ts
2023/Day3/node_modules/@types/node/v8.d.ts
2023/Day3/node_modules/@types/node/vm.d.ts
2023/Day3/node_modules/@types/node/wasi.d.ts
2023/Day3/node_modules/@types/node/worker_threads.d.ts
2023/Day3/node_modules/@types/node/zlib.d.ts
2023/Day3/node_modules/@types/node/assert/strict.d.ts
2023/Day3/node_modules/@types/node/dns/promises.d.ts
2023/Day3/node_modules/@types/node/fs/promises.d.ts
2023/Day3/node_modules/@types/node/readline/promises.d.ts
2023/Day3/node_modules/@types/node/stream/consumers.d.ts
2023/Day3/node_modules/@types/node/stream/promises.d.ts
2023/Day3/node_modules/@types/node/stream/web.d.ts
2023/Day3/node_modules/@types/node/timers/promises.d.ts
2023/Day3/node_modules/@types/node/ts4.8/assert.d.ts
2023/Day3/node_modules/@types/node/ts4.8/async_hooks.d.ts
2023/Day3/node_modules/@types/node/ts4.8/buffer.d.ts
2023/Day3/node_modules/@types/node/ts4.8/child_process.d.ts
2023/Day3/node_modules/@types/node/ts4.8/cluster.d.ts
2023/Day3/node_modules/@types/node/ts4.8/console.d.ts
2023/Day3/node_modules/@types/node/ts4.8/constants.d.ts
2023/Day3/node_modules/@types/node/ts4.8/crypto.d.ts
2023/Day3/node_modules/@types/node/ts4.8/dgram.d.ts
2023/Day3/node_modules/@types/node/ts4.8/diagnostics_channel.d.ts
2023/Day3/node_modules/@types/node/ts4.8/dns.d.ts
2023/Day3/node_modules/@types/node/ts4.8/dom-events.d.ts
2023/Day3/node_modules/@types/node/ts4.8/domain.d.ts
2023/Day3/node_modules/@types/node/ts4.8/events.d.ts
2023/Day3/node_modules/@types/node/ts4.8/fs.d.ts
2023/Day3/node_modules/@types/node/ts4.8/globals.d.ts
2023/Day3/node_modules/@types/node/ts4.8/globals.global.d.ts
2023/Day3/node_modules/@types/node/ts4.8/http.d.ts
2023/Day3/node_modules/@types/node/ts4.8/http2.d.ts
2023/Day3/node_modules/@types/node/ts4.8/https.d.ts
2023/Day3/node_modules/@types/node/ts4.8/index.d.ts
2023/Day3/node_modules/@types/node/ts4.8/inspector.d.ts
2023/Day3/node_modules/@types/node/ts4.8/module.d.ts
2023/Day3/node_modules/@types/node/ts4.8/net.d.ts
2023/Day3/node_modules/@types/node/ts4.8/os.d.ts
2023/Day3/node_modules/@types/node/ts4.8/path.d.ts
2023/Day3/node_modules/@types/node/ts4.8/perf_hooks.d.ts
2023/Day3/node_modules/@types/node/ts4.8/process.d.ts
2023/Day3/node_modules/@types/node/ts4.8/punycode.d.ts
2023/Day3/node_modules/@types/node/ts4.8/querystring.d.ts
2023/Day3/node_modules/@types/node/ts4.8/readline.d.ts
2023/Day3/node_modules/@types/node/ts4.8/repl.d.ts
2023/Day3/node_modules/@types/node/ts4.8/stream.d.ts
2023/Day3/node_modules/@types/node/ts4.8/string_decoder.d.ts
2023/Day3/node_modules/@types/node/ts4.8/test.d.ts
2023/Day3/node_modules/@types/node/ts4.8/timers.d.ts
2023/Day3/node_modules/@types/node/ts4.8/tls.d.ts
2023/Day3/node_modules/@types/node/ts4.8/trace_events.d.ts
2023/Day3/node_modules/@types/node/ts4.8/tty.d.ts
2023/Day3/node_modules/@types/node/ts4.8/url.d.ts
2023/Day3/node_modules/@types/node/ts4.8/util.d.ts
2023/Day3/node_modules/@types/node/ts4.8/v8.d.ts
2023/Day3/node_modules/@types/node/ts4.8/vm.d.ts
2023/Day3/node_modules/@types/node/ts4.8/wasi.d.ts
2023/Day3/node_modules/@types/node/ts4.8/worker_threads.d.ts
2023/Day3/node_modules/@types/node/ts4.8/zlib.d.ts
2023/Day3/node_modules/@types/node/ts4.8/assert/strict.d.ts
2023/Day3/node_modules/@types/node/ts4.8/dns/promises.d.ts
2023/Day3/node_modules/@types/node/ts4.8/fs/promises.d.ts
2023/Day3/node_modules/@types/node/ts4.8/readline/promises.d.ts
2023/Day3/node_modules/@types/node/ts4.8/stream/consumers.d.ts
2023/Day3/node_modules/@types/node/ts4.8/stream/promises.d.ts
2023/Day3/node_modules/@types/node/ts4.8/stream/web.d.ts
2023/Day3/node_modules/@types/node/ts4.8/timers/promises.d.ts
2023/Day3/node_modules/undici-types/agent.d.ts
2023/Day3/node_modules/undici-types/api.d.ts
2023/Day3/node_modules/undici-types/balanced-pool.d.ts
2023/Day3/node_modules/undici-types/cache.d.ts
2023/Day3/node_modules/undici-types/client.d.ts
2023/Day3/node_modules/undici-types/connector.d.ts
2023/Day3/node_modules/undici-types/content-type.d.ts
2023/Day3/node_modules/undici-types/cookies.d.ts
2023/Day3/node_modules/undici-types/diagnostics-channel.d.ts
2023/Day3/node_modules/undici-types/dispatcher.d.ts
2023/Day3/node_modules/undici-types/errors.d.ts
2023/Day3/node_modules/undici-types/fetch.d.ts
2023/Day3/node_modules/undici-types/file.d.ts
2023/Day3/node_modules/undici-types/filereader.d.ts
2023/Day3/node_modules/undici-types/formdata.d.ts
2023/Day3/node_modules/undici-types/global-dispatcher.d.ts
2023/Day3/node_modules/undici-types/global-origin.d.ts
2023/Day3/node_modules/undici-types/handlers.d.ts
2023/Day3/node_modules/undici-types/header.d.ts
2023/Day3/node_modules/undici-types/index.d.ts
2023/Day3/node_modules/undici-types/interceptors.d.ts
2023/Day3/node_modules/undici-types/mock-agent.d.ts
2023/Day3/node_modules/undici-types/mock-client.d.ts
2023/Day3/node_modules/undici-types/mock-errors.d.ts
2023/Day3/node_modules/undici-types/mock-interceptor.d.ts
2023/Day3/node_modules/undici-types/mock-pool.d.ts
2023/Day3/node_modules/undici-types/package.json
2023/Day3/node_modules/undici-types/patch.d.ts
2023/Day3/node_modules/undici-types/pool-stats.d.ts
2023/Day3/node_modules/undici-types/pool.d.ts
2023/Day3/node_modules/undici-types/proxy-agent.d.ts
2023/Day3/node_modules/undici-types/readable.d.ts
2023/Day3/node_modules/undici-types/README.md
2023/Day3/node_modules/undici-types/webidl.d.ts
2023/Day3/node_modules/undici-types/websocket.d.ts
2023/Day3/part1.js
2023/Day3/part1.js.map
2023/Day3/part2.js
2023/Day3/part2.js.map
2023/Day3/part1refactor.js
2023/Day3/part1refactor.js.map
2023/Day3/part2refactor.js.map
.gitignore
2023/Day3/part2refactor.js
2023/Day6/.vscode/launch.json
2023/Day6/Part1/bin/Debug/net7.0/Part1
2023/Day6/Part1/bin/Debug/net7.0/Part1.deps.json
2023/Day6/Part1/bin/Debug/net7.0/Part1.dll
2023/Day6/Part1/bin/Debug/net7.0/Part1.pdb
2023/Day6/Part1/bin/Debug/net7.0/Part1.runtimeconfig.json
2023/Day6/Part1/obj/Part1.csproj.nuget.dgspec.json
2023/Day6/Part1/obj/Part1.csproj.nuget.g.props
2023/Day6/Part1/obj/Part1.csproj.nuget.g.targets
2023/Day6/Part1/obj/project.assets.json
2023/Day6/Part1/obj/project.nuget.cache
2023/Day6/Part1/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
2023/Day6/Part1/obj/Debug/net7.0/apphost
2023/Day6/Part1/obj/Debug/net7.0/Part1.AssemblyInfo.cs
2023/Day6/Part1/obj/Debug/net7.0/Part1.AssemblyInfoInputs.cache
2023/Day6/Part1/obj/Debug/net7.0/Part1.assets.cache
2023/Day6/Part1/obj/Debug/net7.0/Part1.csproj.AssemblyReference.cache
2023/Day6/Part1/obj/Debug/net7.0/Part1.csproj.CoreCompileInputs.cache
2023/Day6/Part1/obj/Debug/net7.0/Part1.csproj.FileListAbsolute.txt
2023/Day6/Part1/obj/Debug/net7.0/Part1.dll
2023/Day6/Part1/obj/Debug/net7.0/Part1.GeneratedMSBuildEditorConfig.editorconfig
2023/Day6/Part1/obj/Debug/net7.0/Part1.genruntimeconfig.cache
2023/Day6/Part1/obj/Debug/net7.0/Part1.GlobalUsings.g.cs
2023/Day6/Part1/obj/Debug/net7.0/Part1.pdb
2023/Day6/Part1/obj/Debug/net7.0/ref/Part1.dll
2023/Day6/Part1/obj/Debug/net7.0/refint/Part1.dll
2023/Day6/Part2/bin/Debug/net7.0/Part2
2023/Day6/Part2/bin/Debug/net7.0/Part2.deps.json
2023/Day6/Part2/bin/Debug/net7.0/Part2.dll
2023/Day6/Part2/bin/Debug/net7.0/Part2.pdb
2023/Day6/Part2/bin/Debug/net7.0/Part2.runtimeconfig.json
.gitignore
2023/Day6/Part2/obj/Part2.csproj.nuget.dgspec.json
2023/Day6/Part2/obj/Part2.csproj.nuget.g.props
2023/Day6/Part2/obj/Part2.csproj.nuget.g.targets
2023/Day6/Part2/obj/project.assets.json
2023/Day6/Part2/obj/project.nuget.cache
2023/Day6/Part2/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
2023/Day6/Part2/obj/Debug/net7.0/apphost
2023/Day6/Part2/obj/Debug/net7.0/Part2.AssemblyInfo.cs
2023/Day6/Part2/obj/Debug/net7.0/Part2.AssemblyInfoInputs.cache
2023/Day6/Part2/obj/Debug/net7.0/Part2.assets.cache
2023/Day6/Part2/obj/Debug/net7.0/Part2.csproj.AssemblyReference.cache
2023/Day6/Part2/obj/Debug/net7.0/Part2.csproj.CoreCompileInputs.cache
2023/Day6/Part2/obj/Debug/net7.0/Part2.csproj.FileListAbsolute.txt
2023/Day6/Part2/obj/Debug/net7.0/Part2.dll
2023/Day6/Part2/obj/Debug/net7.0/Part2.GeneratedMSBuildEditorConfig.editorconfig
2023/Day6/Part2/obj/Debug/net7.0/Part2.genruntimeconfig.cache
2023/Day6/Part2/obj/Debug/net7.0/Part2.GlobalUsings.g.cs
2023/Day6/Part2/obj/Debug/net7.0/Part2.pdb
2023/Day6/Part2/obj/Debug/net7.0/ref/Part2.dll
2023/Day6/Part2/obj/Debug/net7.0/refint/Part2.dll
2023/Day6/Part1Refactor/bin/Debug/net7.0/Part1Refactor
2023/Day6/Part1Refactor/bin/Debug/net7.0/Part1Refactor.deps.json
2023/Day6/Part1Refactor/bin/Debug/net7.0/Part1Refactor.dll
2023/Day6/Part1Refactor/bin/Debug/net7.0/Part1Refactor.pdb
2023/Day6/Part1Refactor/bin/Debug/net7.0/Part1Refactor.runtimeconfig.json
.gitignore
2023/Day6/Part1Refactor/obj/Part1Refactor.csproj.nuget.dgspec.json
2023/Day6/Part1Refactor/obj/Part1Refactor.csproj.nuget.g.props
2023/Day6/Part1Refactor/obj/Part1Refactor.csproj.nuget.g.targets
2023/Day6/Part1Refactor/obj/project.assets.json
2023/Day6/Part1Refactor/obj/project.nuget.cache
2023/Day6/Part1Refactor/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
2023/Day6/Part1Refactor/obj/Debug/net7.0/apphost
2023/Day6/Part1Refactor/obj/Debug/net7.0/Part1Refactor.AssemblyInfo.cs
2023/Day6/Part1Refactor/obj/Debug/net7.0/Part1Refactor.AssemblyInfoInputs.cache
2023/Day6/Part1Refactor/obj/Debug/net7.0/Part1Refactor.assets.cache
2023/Day6/Part1Refactor/obj/Debug/net7.0/Part1Refactor.csproj.AssemblyReference.cache
2023/Day6/Part1Refactor/obj/Debug/net7.0/Part1Refactor.csproj.CoreCompileInputs.cache
2023/Day6/Part1Refactor/obj/Debug/net7.0/Part1Refactor.csproj.FileListAbsolute.txt
2023/Day6/Part1Refactor/obj/Debug/net7.0/Part1Refactor.dll
2023/Day6/Part1Refactor/obj/Debug/net7.0/Part1Refactor.GeneratedMSBuildEditorConfig.editorconfig
2023/Day6/Part1Refactor/obj/Debug/net7.0/Part1Refactor.genruntimeconfig.cache
2023/Day6/Part1Refactor/obj/Debug/net7.0/Part1Refactor.GlobalUsings.g.cs
2023/Day6/Part1Refactor/obj/Debug/net7.0/Part1Refactor.pdb
2023/Day6/Part1Refactor/obj/Debug/net7.0/ref/Part1Refactor.dll
2023/Day6/Part1Refactor/obj/Debug/net7.0/refint/Part1Refactor.dll
2023/Day6/Part2Refactor/bin/Debug/net7.0/Part2Refactor
2023/Day6/Part2Refactor/bin/Debug/net7.0/Part2Refactor.deps.json
2023/Day6/Part2Refactor/bin/Debug/net7.0/Part2Refactor.dll
2023/Day6/Part2Refactor/bin/Debug/net7.0/Part2Refactor.pdb
2023/Day6/Part2Refactor/bin/Debug/net7.0/Part2Refactor.runtimeconfig.json
2023/Day6/Part2Refactor/obj/Part2Refactor.csproj.nuget.dgspec.json
2023/Day6/Part2Refactor/obj/Part2Refactor.csproj.nuget.g.props
2023/Day6/Part2Refactor/obj/Part2Refactor.csproj.nuget.g.targets
2023/Day6/Part2Refactor/obj/project.assets.json
2023/Day6/Part2Refactor/obj/project.nuget.cache
2023/Day6/Part2Refactor/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
2023/Day6/Part2Refactor/obj/Debug/net7.0/apphost
2023/Day6/Part2Refactor/obj/Debug/net7.0/Part2Refactor.AssemblyInfo.cs
2023/Day6/Part2Refactor/obj/Debug/net7.0/Part2Refactor.AssemblyInfoInputs.cache
2023/Day6/Part2Refactor/obj/Debug/net7.0/Part2Refactor.assets.cache
2023/Day6/Part2Refactor/obj/Debug/net7.0/Part2Refactor.csproj.AssemblyReference.cache
2023/Day6/Part2Refactor/obj/Debug/net7.0/Part2Refactor.csproj.CoreCompileInputs.cache
2023/Day6/Part2Refactor/obj/Debug/net7.0/Part2Refactor.csproj.FileListAbsolute.txt
2023/Day6/Part2Refactor/obj/Debug/net7.0/Part2Refactor.dll
2023/Day6/Part2Refactor/obj/Debug/net7.0/Part2Refactor.GeneratedMSBuildEditorConfig.editorconfig
2023/Day6/Part2Refactor/obj/Debug/net7.0/Part2Refactor.genruntimeconfig.cache
2023/Day6/Part2Refactor/obj/Debug/net7.0/Part2Refactor.GlobalUsings.g.cs
2023/Day6/Part2Refactor/obj/Debug/net7.0/Part2Refactor.pdb
2023/Day6/Part2Refactor/obj/Debug/net7.0/ref/Part2Refactor.dll
2023/Day6/Part2Refactor/obj/Debug/net7.0/refint/Part2Refactor.dll
2023/Day5/Day5part2refactor
